/**** CONFIGURAÇÕES GERAIS DA PÁGINA *****/

* {
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: #C4C4C4;
    font-family: monospace;
    font-size: 15px;
}

h2{
    color: white;
}
/**** CABEÇALHO *****/

#header {
    background-color: rgb(10, 10, 164);
    font-size: 15px;
    text-align: center;
}

#header a:link, #header a:visited{
    color: white; 
    padding: 8px 12px;
}

#header a:hover{
    color: #0066CC;
    background: #FFFFFF;
    text-decoration: none;
}

#logo, #topmenu {
    padding: 10px;
}

/***** CORPO E PRINCIPAL APRESENTACAO *****/

.apresentacao{
    padding: 10px;
    margin: 1%;
    border: 1%;
    color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.texto_apresentacao {
    font-size: 18px;
    padding: 15px;
}

.legendaimagem{
    font-style: italic;
    font-size: smaller;
    padding: 1%;
    text-align: center;
    justify-content: center;
}

/***** MENU DE SERVICOS *****/

.servicos{
    background-color: #ddea2e;
    border-radius: 10px;
    width: 216px;
    height: 254px;
    display: inline-flex;
    color: rgb(0, 115, 255); 
    font-size: 25px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

.boxdiv{
    text-align: center;
}

.servicos_titulo{
    box-sizing: border-box;
    background-color: #ddea2e;
    text-align: center;
    border-radius:  10px;
    margin: 1%;
    color:rgb(0, 115, 255);

}

/***** EXPOSICAO DE CLIENTES *****/

.clientes_titulo{
    background-color: rgb(0, 115, 255);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    margin: 1%;

}

.clientes_imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;

    
}

.clientes_imagens img{
    width: 85%;
}

/***** FINAL DA PAGAGINA COM CONTATOS *****/

.contato_titulo{
    background-color: #ddea2e;
    color: rgb(0, 115, 255);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    margin: 1%;
}

.formulario{
    text-align: center;
    font-size: 18px;
    
}

.informacoes{
    font-size: 15px;
}

.container_info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.container_info img{
    width: 25px;
}

.texto_sobreposto{
    margin: 0;
}