* {
    box-sizing: border-box;
    margin: 0px;
}



h2{
    color: white;
}

header{
    background-color: rgb(10, 10, 164);
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 1%;
    border-radius: 10px;
    
}

.topmenu {
    color: white;
    display: inline-flex;
    align-items: center;
}
.apresentacao{
    padding: 10px;
    margin: 1%;
    border: 1%;
    color: #black;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.texto_apresentacao {
    font-size: 18px;
    padding: 15px;
}

.legendaimagem{
    font-style: italic;
    font-size: smaller;
    font-family: monospace;
    padding: 1%;
    text-align: center;
    justify-content: center;
}

.servicos{
    background-color: #ddea2e;
    border-radius: 10px;
    width: 216px;
    height: 254px;
    display: inline-flex;
    color: rgb(0, 115, 255); 
    font-size: 25px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

.boxdiv{
    text-align: center;
}

.servicos_titulo{
    box-sizing: border-box;
    background-color: #ddea2e;
    text-align: center;
    border-radius:  10px;
    margin: 1%;
    color:rgb(0, 115, 255);

}

.clientes_titulo{
    background-color: rgb(0, 115, 255);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    margin: 1%;

}

.clientes_imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;

    
}

.clientes_imagens img{
    width: 85%;
}

.contato_titulo{
    background-color: #ddea2e;
    color: rgb(0, 115, 255);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    margin: 1%;
}

.formulario{
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    
}

.informacoes{
    font-family: monospace;
    font-size: 15px;
}

.container_info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.container_info img{
    width: 25px;
}


    


.texto_sobreposto{
    margin: 0;
}